
<div class="height-100 px-5 py-3">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Create New Contract</h2>
    </div>
  </div>
  <form [formGroup]="createContractForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" >Contract Code</label>
      <div class="col-sm-4">
        <input type="text"  class="form-control" formControlName="id">
        <p style="color: red" *ngIf="createContractForm.controls.id.hasError('required')&&
createContractForm.controls.id.touched">Not null</p>
        <p style="color: red" *ngIf="createContractForm.controls.id.hasError('pattern')&&
createContractForm.controls.id.touched">HD-XXXX (X is 0-9)</p>
      </div>
    </div>
  <div class="row mb-3 form-group row">
    <label class="col-sm-4 col-form-label text-end" for="customerName">Customer</label>
    <div class="col-sm-4" formControlName="customer">
      <select class="form-control" id="customerName" formControlName="customer">
        <option value="">Choose Customer</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.customerName}}</option>
      </select>
      <p style="color: red" *ngIf="createContractForm.controls.customer.hasError('required')&&
createContractForm.controls.customer.touched">Not null</p>
    </div>
  </div>

  <div class="row mb-3 form-group row">
    <label class="col-sm-4 col-form-label text-end" for="serviceName">Service</label>
    <div class="col-sm-4">
      <select class="form-control" id="serviceName" formControlName="facility">
        <option value="">Choose Service</option>
        <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.facilityName}}</option>
      </select>
      <p style="color: red" *ngIf="createContractForm.controls.facility.hasError('required')&&
createContractForm.controls.facility.touched">Not null</p>
    </div>
  </div>

  <div class="row mb-3 form-group row">

    <label class="col-sm-4 col-form-label text-end" for="startDay">Start Day</label>
    <div class="col-sm-4">
      <input type="date" id="startDay" class="form-control" formControlName="startDay"
             placeholder="Format: 26/01/2022">
      <p style="color: red" *ngIf="createContractForm.controls.startDay.hasError('required')&&
createContractForm.controls.startDay.touched">Not null</p>
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <label class="col-sm-4 col-form-label text-end" for="endDay">End Day</label>
    <div class="col-sm-4">
      <input type="date" id="endDay" class="form-control" formControlName="endDay"
             placeholder="Format: 26/02/2022">
      <p style="color: red" *ngIf="createContractForm.controls.endDay.hasError('required')&&
createContractForm.controls.endDay.touched">Not null</p>
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <label class="col-sm-4 col-form-label text-end" for="deposit">Deposit</label>
    <div class="col-sm-4">
      <input type="text" id="deposit" class="form-control" formControlName="deposit"
             placeholder="Ex: 1000000">
      <p style="color: red" *ngIf="createContractForm.controls.deposit.hasError('required')&&
createContractForm.controls.deposit.touched">Not null</p>
      <p style="color: red" *ngIf="createContractForm.controls.deposit.hasError('pattern')&&
createContractForm.controls.deposit.touched">Deposit is a number and positive</p>
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <label class="col-sm-4 col-form-label text-end" for="total">Total Money</label>
    <div class="col-sm-4">
      <input type="text" id="total" class="form-control" formControlName="total"
             placeholder="Ex: 5000000">
      <p style="color: red" *ngIf="createContractForm.controls.total.hasError('required')&&
createContractForm.controls.total.touched">Not null</p>
      <p style="color: red" *ngIf="createContractForm.controls.total.hasError('pattern')&&
createContractForm.controls.total.touched">Total is a number and positive</p>
    </div>
  </div>

  <div class="row mb-3 form-group row">
    <label class="col-sm-5 col-form-label text-right"></label>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </form>
</div>

<div class="text-center p-5"></div>

