
<div class="height-100 px-5 py-3">
  <div class="container-fluid">
    <div class="text-center">
      <!--            <div class="col-sm-4"></div>-->
      <!--            <div class="col-sm-8">-->
      <h2>Create New Customer</h2>
      <!--            </div>-->
    </div>
    <form [formGroup]="createStudentFrom" (ngSubmit)="onSubmit()">

      <div class="row mb-3 form-group row">

        <label class="col-sm-4 col-form-label text-end" for="name">Customer Code</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="customerId">
          <p style="color: red" *ngIf="createStudentFrom.controls.customerId.hasError('required')&&
createStudentFrom.controls.customerId.touched">Not null</p>
          <p style="color: red" *ngIf="createStudentFrom.controls.customerId.hasError('pattern')&&
createStudentFrom.controls.customerId.touched">KH-XXXX (X is 0-9)</p>
        </div>
      </div>

    <div class="row mb-3 form-group row">

      <label class="col-sm-4 col-form-label text-end" for="name">Name</label>
      <div class="col-sm-4">
        <input type="text" id="name" class="form-control" formControlName="customerName"
               placeholder="Ex: Nguyen Van A">
        <p style="color: red" *ngIf="createStudentFrom.controls.customerName.hasError('required')&&
createStudentFrom.controls.customerName.touched">Not null</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end">Gender</label>
      <div class="col-sm-6">
        <label class="col-form-label" for="MaleRadio">Male</label>
        <input type="radio" id="MaleRadio" value="1" formControlName="gender">
<!--        <p style="color: red" *ngIf="createStudentFrom.controls.gender.hasError('required')&&-->
<!--createStudentFrom.controls.gender.touched">Not null</p>-->
        <label class="col-form-label" for="MaleRadio">Female</label>
        <input type="radio" id="FemaleRadio" value="0" formControlName="gender">
        <p style="color: red" *ngIf="createStudentFrom.controls.gender.hasError('required')&&
createStudentFrom.controls.gender.touched">Not null</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="dayOfBirth">Day Of Birth</label>
      <div class="col-sm-4">
        <input type="date" id="dayOfBirth" class="form-control" formControlName="dateOfBirth">
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="nationalId">ID</label>
      <div class="col-sm-4">
        <input type="text" id="nationalId" class="form-control" formControlName="identify">
        <p style="color: red" *ngIf="createStudentFrom.controls.identify.hasError('pattern')&&
createStudentFrom.controls.identify.touched">example format: XXXXXXXXX or XXXXXXXXXXXX (X is 0-9)</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="address">Address</label>
      <div class="col-sm-4">
        <input type="text" id="address" class="form-control" formControlName="address">
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="phone">Phone</label>
      <div class="col-sm-4">
        <input type="text" id="phone" class="form-control" formControlName="phone">
        <p style="color: red" *ngIf="createStudentFrom.controls.phone.hasError('pattern')&&
createStudentFrom.controls.phone.touched">example format: 090xxxxxxx or 091xxxxxxx </p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="email">Email</label>
      <div class="col-sm-4">
        <input type="text" id="email" class="form-control" formControlName="email">
        <p style="color: red" *ngIf="createStudentFrom.controls.email.hasError('email')&&
createStudentFrom.controls.email.touched">Email format</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="customerType">Customer Type</label>
      <div class="col-sm-4">
        <select class="form-control" id="customerType" formControlName="type">
          <option value="">Choose Customer Type</option>
          <option value="Diamond">Diamond</option>
          <option value="Platinum">Platinum</option>
          <option value="Gold">Gold</option>
          <option value="Silver">Silver</option>
          <option value="Member">Member</option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>

    <div class="text-center p-5"></div>

