<div class="height-100 px-5 py-3">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Update Transaction:  <b class="text-danger">{{updateForm.get('transactionCode').value}}</b></h2>
    </div>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.get('id').value)">

      <div class="row mb-3 form-group row">

        <label class="col-sm-4 col-form-label text-end" >Transaction Code</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="transactionCode">
          <p style="color: red" *ngIf="updateForm.controls.transactionCode.hasError('required')&&
updateForm.controls.transactionCode.touched">Not null</p>
          <p style="color: red" *ngIf="updateForm.controls.transactionCode.hasError('pattern')&&
updateForm.controls.transactionCode.touched">MGD-XXXX (X is 0-9)</p>
        </div>
      </div>

      <div class="row mb-3 form-group row">
        <label class="col-sm-4 col-form-label text-end" for="customerName">Customer</label>
        <div class="col-sm-4" formControlName="customer">
          <select class="form-control" id="customerName" formControlName="customer" [compareWith]="equals">
            <option value="">Choose Customer</option>
            <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.customerCode}}</option>
          </select>
          <p style="color: red" *ngIf="updateForm.controls.customer.hasError('required')&&
updateForm.controls.customer.touched">Not null</p>
        </div>
      </div>

      <div class="row mb-3 form-group row">
        <label class="col-sm-4 col-form-label text-end" for="dayOfBirth">Transaction Date</label>
        <div class="col-sm-4">
          <input type="date" id="dayOfBirth" class="form-control" formControlName="transactionDay">
        </div>
      </div>
      <div class="row mb-3 form-group row">
        <label class="col-sm-4 col-form-label text-end">Transaction Type</label>
        <div class="col-sm-4">
          <label class="col-form-label" >   Đất:</label>
          <input type="radio" value="Đất" formControlName="type">
          <label class="col-form-label" >   Nhà và đất: </label>
          <input type="radio" value="Nhà và đất" formControlName="type">
          <p style="color: red" *ngIf="updateForm.controls.type.hasError('required')&&
updateForm.controls.type.touched">Not null</p>
        </div>

      </div>
      <div class="row mb-3 form-group row">
        <label class="col-sm-4 col-form-label text-end" for="nationalId">Price (per m<sup>2</sup>)</label>
        <div class="col-sm-4">
          <input type="number" id="nationalId" class="form-control" formControlName="price">
          <p style="color: red" *ngIf="updateForm.controls.price.hasError('required')&&
updateForm.controls.price.touched">Not null</p>
          <p style="color: red" *ngIf="updateForm.controls.price.hasError('min')&&
updateForm.controls.price.touched">Minimum is 100.000 VND</p>
        </div>
      </div>
      <div class="row mb-3 form-group row">
        <label class="col-sm-4 col-form-label text-end" for="nationalId">Square (m<sup>2</sup>)</label>
        <div class="col-sm-4">
          <input type="number"  class="form-control" formControlName="square">
          <p style="color: red" *ngIf="updateForm.controls.square.hasError('required')&&
updateForm.controls.square.touched">Not null</p>
          <p style="color: red" *ngIf="updateForm.controls.square.hasError('min')&&
updateForm.controls.square.touched">Minimum is 20 m<sup>2</sup></p>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="text-center p-5"></div>
