
<div class="height-100 px-5 py-3">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Update Contract <b class="text-danger">{{contractForm.get('id').value}}</b></h2>
    </div>
  </div>
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit(contractForm.get('id').value)">

    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="customerName">Customer</label>
      <div class="col-sm-4" formControlName="customerName">
        <select class="form-control" id="customerName" formControlName="customer" [compareWith]="equals">
          <option value="">Choose Customer Name</option>
          <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.customerName}}</option>
        </select>
        <p style="color: red" *ngIf="contractForm.controls.customer.hasError('required')&&
contractForm.controls.customer.touched">Not null</p>
      </div>
    </div>

    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="serviceName">Service</label>
      <div class="col-sm-4">
        <select class="form-control" id="serviceName" formControlName="facility" [compareWith]="equals">>
          <option value="">Choose Service Name</option>
          <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.facilityName}}</option>
        </select>
        <p style="color: red" *ngIf="contractForm.controls.facility.hasError('required')&&
contractForm.controls.facility.touched">Not null</p>
      </div>
    </div>

    <div class="row mb-3 form-group row">

      <label class="col-sm-4 col-form-label text-end" for="startDay">Start Day</label>
      <div class="col-sm-4">
        <input type="date" id="startDay" class="form-control" formControlName="startDay"
               placeholder="Format: 26/01/2022">
        <p style="color: red" *ngIf="contractForm.controls.startDay.hasError('required')&&
contractForm.controls.startDay.touched">Not null</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="endDay">End Day</label>
      <div class="col-sm-4">
        <input type="date" id="endDay" class="form-control" formControlName="endDay"
               placeholder="Format: 26/02/2022">
        <p style="color: red" *ngIf="contractForm.controls.endDay.hasError('required')&&
contractForm.controls.endDay.touched">Not null</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="deposit">Deposit</label>
      <div class="col-sm-4">
        <input type="text" id="deposit" class="form-control" formControlName="deposit"
               placeholder="Ex: 1000000">
        <p style="color: red" *ngIf="contractForm.controls.deposit.hasError('required')&&
contractForm.controls.deposit.touched">Not null</p>
        <p style="color: red" *ngIf="contractForm.controls.deposit.hasError('pattern')&&
contractForm.controls.deposit.touched">Deposit is a number and positive</p>
      </div>
    </div>
    <div class="row mb-3 form-group row">
      <label class="col-sm-4 col-form-label text-end" for="total">Total Money</label>
      <div class="col-sm-4">
        <input type="text" id="total" class="form-control" formControlName="total"
               placeholder="Ex: 5000000">
        <p style="color: red" *ngIf="contractForm.controls.total.hasError('required')&&
contractForm.controls.total.touched">Not null</p>
        <p style="color: red" *ngIf="contractForm.controls.total.hasError('pattern')&&
contractForm.controls.total.touched">Total is a number and positive</p>
      </div>
    </div>

    <div class="row mb-3 form-group row">
      <label class="col-sm-5 col-form-label text-right"></label>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="text-center p-5"></div>


