
<div class="height-100 px-5 py-3">
  <div class="container">
    <div class="text-center mb-3">
      <h2>Update Facility</h2>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-7">
        <div class="row mb-3">
          <div class="col-8 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Name"
                   autocomplete="off"/>
          </div>
          <div class="col-4 form-group">
            <input style="width: 100%" class="form-control" type="text" placeholder="Area"
                   autocomplete="off"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4 form-group">
            <input style="width: 100%" class="form-control" type="text" placeholder="Cost"
                   autocomplete="off"/>
          </div>
          <div class="col-4 form-group">
            <input style="width: 100%" class="form-control" type="text" placeholder="Max People"
                   autocomplete="off"/>
          </div>
          <div class="col-4 form-group">
            <select class="form-control">
              <option value="">--Choose Rent Type--</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 form-group">
            <select id="facilityTypeSelect" class="form-control">
              <option value="">--Choose Service--</option>
              <option value="1">Villa</option>
              <option value="2">House</option>
              <option value="3">Room</option>
            </select>
          </div>
        </div>
        <div class="row mb-3" id="villaInputs">
          <div class="col-3 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Standard Room"
                   autocomplete="off"/>
          </div>
          <div class="col-4 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Other Convenient"
                   autocomplete="off"/>
          </div>
          <div class="col-3 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Pool Area"
                   autocomplete="off"/>
          </div>
          <div class="col-2 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Floors"
                   autocomplete="off"/>
          </div>
        </div>
        <div class="row mb-3" id="houseInputs">
          <div class="col-4 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Standard Room"
                   autocomplete="off"/>
          </div>
          <div class="col-6 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Other Convenient"
                   autocomplete="off"/>
          </div>
          <div class="col-2 form-group">
            <input style="width: 100%" class="form-control" type="text" placeholder="Floors"
                   autocomplete="off"/>
          </div>
        </div>
        <div class="row mb-3" id="roomInputs">
          <div class="col-12 form-group">
            <input style="width: 100%" type="text" class="form-control" placeholder="Free Service"
                   autocomplete="off"/>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </div>
</div>

<div class="text-center p-5"></div>

<script>
  let $facilityTypeSelect = $('#facilityTypeSelect');
  let $villaInputs = $('#villaInputs');
  let $houseInputs = $('#houseInputs');
  let $roomInputs = $('#roomInputs');
  $(document).ready(function () {
    hideAll();
    $facilityTypeSelect.change(function () {
      if (this.value == 1) {
        $villaInputs.show();
        $villaInputs.find('input').prop('disabled', false);
        $houseInputs.hide();
        $houseInputs.find('input').prop('disabled', true);
        $roomInputs.hide();
        $roomInputs.find('input').prop('disabled', true);
      } else if (this.value == 2) {
        $villaInputs.hide();
        $villaInputs.find('input').prop('disabled', true);
        $houseInputs.show();
        $houseInputs.find('input').prop('disabled', false);
        $roomInputs.hide();
        $roomInputs.find('input').prop('disabled', true);
      } else if (this.value == 3) {
        $villaInputs.hide();
        $villaInputs.find('input').prop('disabled', true);
        $houseInputs.hide();
        $houseInputs.find('input').prop('disabled', true);
        $roomInputs.show();
        $roomInputs.find('input').prop('disabled', false);
      } else {
        hideAll();
      }
    });
  });
  function hideAll() {
    $villaInputs.hide();
    $villaInputs.find('input').prop('disabled', true);
    $houseInputs.hide();
    $houseInputs.find('input').prop('disabled', true);
    $roomInputs.hide();
    $roomInputs.find('input').prop('disabled', true);
  }
</script>

