


<div style="height: 56px"></div>
<div class="container" >
  <div class="container col-11">
    <div class="row">
      <div class="col-xl-4" *ngFor="let facility of facilities">
        <div class="card" >
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img [src]="facility.url"
              class="img-fluid"/>
          </div>

          <div class="card-body" style="float: right">
            <h5 class="card-title">{{facility.facilityName}}</h5>
            <p >Room size: {{facility.area}}<sup>2</sup></p>
            <h5><span  class="badge bg-danger">Price: {{facility.cost}}</span></h5> <br>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="sendFacilityToDelete(facility.facilityName)">
              <i class='bx bx-trash'></i>
            </button>

            <a style="margin-left: 5px" class="btn btn-primary">
              <i class='bx bx-wrench'></i>
            </a>
            <a href="#!" style="float: right">Know more</a>
          </div>
        </div>
        <div style="height: 20px"></div>
      </div>

    </div>
  </div>
</div>

<app-delete-facility [facilityToDelete]="facilityToDelete"></app-delete-facility>
<div class="text-center p-5"></div>


