<h1 class="text-center">Transaction List</h1>
<div class="height-100 px-5 py-3">
  <div class="text-center">
    <a routerLink="/transaction-create"><button class="btn btn-primary"><i class='bx bx-user-plus'></i></button></a>
  </div>
  <div style="height: 10px"></div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Search by phone" #searchByCode>
      </div>
      <div class="col-3">
        <select class="form-control" name="keySearch3" id="keySearch3" #searchByCustomer>
          <option value="">Choose Customer</option>
          <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.customerCode}}</option>
        </select>
      </div>
      <div class="col-6 text-end">
        <button type="submit" class="btn btn-primary" (click)="search()">Search</button>
      </div>
    </div>

    <div style="height: 10px"></div>
    <table class="table table-light table-bordered small">
      <thead class="thead thead-dark text-center">
      <tr>
        <th scope="col">N0</th>
        <th scope="col">Transaction Code</th>
        <th scope="col">Customer Code</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Type</th>
        <th scope="col">Price (VND/m<sup>2</sup>)</th>
        <th scope="col">Square (m<sup>2</sup>)</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions|paginate : { itemsPerPage: 5, currentPage: p },index as index">
        <td>{{index+1}}</td>
        <td>{{transaction.transactionCode}}</td>
        <td>{{transaction.customer.customerCode}}</td>
        <td>{{transaction.transactionDay|date: 'dd/MM/yyyy'}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.price|currency: 'VND'}}</td>
        <td>{{transaction.square}} m<sup>2</sup></td>


        <td>
          <a class="editSpan text-black" [routerLink]="['/transaction-update',transaction.id]">
            <i class='bx bx-wrench bx-border bx-sm'></i>
          </a>
          <button type="button" class="border-0 bg-transparent deleteSpan"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="sendTransactionId(transaction.id, transaction.transactionCode)">
            <i class='bx bx-trash bx-border bx-sm'></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <h3 *ngIf="transactions.length === 0" class="text-center">Not found</h3>

  </div>

</div>
<div style="justify-content: space-around;display: flex;">
  <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
</div>


<div class="text-center p-5"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>Do you want to delete this transaction<BR>
          {{transactionCode}}
          </div>
        <div class="text-danger">
          <hr>
          WARNING: YOU CAN NOT ROLLBACK AFTER DELETE!!!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteTransaction(transactionIdToDelete)">Delete</button>
      </div>
    </div>
  </div>
</div>


