<div class="height-100 px-5 py-3">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Create New Contract</h2>
    </div>
  </div>

  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="customerName">Customer Name</label>
    <div class="col-sm-4">
      <select class="form-control" id="customerName">
        <option value="">Choose Customer Name</option>
        <option value="1">Nguyen Văn A</option>
        <option value="2">Le Văn B</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="employeeName">Employee Name</label>
    <div class="col-sm-4">
      <select class="form-control" id="employeeName">
        <option value="">Choose Employee Name</option>
        <option value="1">Nguyen Văn A</option>
        <option value="2">Le Văn B</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="serviceName">Service</label>
    <div class="col-sm-4">
      <select class="form-control" id="serviceName">
        <option value="">Choose Service Name</option>
        <option value="1">Ocean Suite</option>
        <option value="2">Villa Ocean View</option>
      </select>
    </div>
  </div>

  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="startDay">Start Day</label>
    <div class="col-sm-4">
      <input type="text" id="startDay" class="form-control"
             placeholder="Format: 26/01/2022">
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="endDay">End Day</label>
    <div class="col-sm-4">
      <input type="text" id="endDay" class="form-control"
             placeholder="Format: 26/02/2022">
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="deposit">Deposit</label>
    <div class="col-sm-4">
      <input type="text" id="deposit" class="form-control"
             placeholder="Ex: 1000000">
    </div>
  </div>
  <div class="row mb-3 form-group row">
    <div class="col-sm-2"></div>
    <label class="col-sm-2 col-form-label text-right" for="total">Total Money</label>
    <div class="col-sm-4">
      <input type="text" id="total" class="form-control"
             placeholder="Ex: 5000000">
    </div>
  </div>

  <div class="row mb-3 form-group row">
    <label class="col-sm-5 col-form-label text-right"></label>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>


    <div class="text-center p-5"></div>
